.site-head{
    height:161px;
    min-width: 1201px;
}

.site-head .topbar{
    min-width: 1201px;
    background-color:#0058AA  ;
    
}
.site-head .topbar .tel{
    float:right;
    line-height: 40px;
    font-size:18px;
    color:#fff;
}
.site-head .main-nav{
    background-color:#fff;
}

.site-head .main-nav .log-and-nav .logo{
    float:left; 
}
.site-head .main-nav .log-and-nav .logo a{
    color:#0058AA ;
}
.site-head .main-nav .log-and-nav .logo a h1{
    color:#0058AA;
    font-size:64px;
    line-height: 91px;
}
.site-head .main-nav .log-and-nav{
    width:862px;
    margin-top:19px;
    float: left;
}

.site-head .main-nav .log-and-nav nav{
    float:right;
    height:121px;
    
}

.site-head .main-nav .log-and-nav nav ul>li{
    float:left;
    padding-right:58px;
    
    
}
.site-head .main-nav .log-and-nav nav ul>li a{
    display: block;
    width:64px;
    color:#545454;
    
}
.site-head .main-nav .log-and-nav nav ul>li:last-child{
    padding-right:0px;
}

.site-head .main-nav .log-and-nav nav ul>li .picbox{
    height:50px;
    width:50px;
    border-radius: 50%;
    margin:0 auto;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s linear 0s;
}
.site-head .main-nav .log-and-nav nav ul>li.current .picbox{
    background-color: #0058AA;
}
.site-head .main-nav .log-and-nav nav ul>li:hover .picbox{
    background-color: #0058AA;
}

.site-head .main-nav .log-and-nav nav ul>li .picbox::before{
    width:35px;
    height:33px;
    position: absolute;
    margin-top: 9px;
    margin-left:9px;
    content:'';
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

/* 网站首页 */
.site-head .main-nav .log-and-nav nav ul>li.wzsy .picbox::before{
    background-position: -47px 0px;
}

.site-head .main-nav .log-and-nav nav ul>li:hover .picbox::before{
    background-position: -47px 0px;
}

/* 关于我们 */
.site-head .main-nav .log-and-nav nav ul>li.gywm .picbox::before{
    background-position:  -1px -48px;
}

.site-head .main-nav .log-and-nav nav ul>li.gywm:hover .picbox::before{
    background-position:  -47px -48px;
}


/* 服务建设 */
.site-head .main-nav .log-and-nav nav ul>li.fwjs .picbox::before{
    background-position: -2px -93px;
}
.site-head .main-nav .log-and-nav nav ul>li.fwjs:hover .picbox::before{
    background-position: -45px -93px;
}

/* 产品中心 */
.site-head .main-nav .log-and-nav nav ul>li.cpzx .picbox::before{
    background-position: -1px -135px;
}

.site-head .main-nav .log-and-nav nav ul>li.cpzx:hover .picbox::before{
    background-position: -46px -135px;
}
/* 服务大厅 */
.site-head .main-nav .log-and-nav nav ul>li.fwdt .picbox::before{
    background-position: -1px -181px;
}

.site-head .main-nav .log-and-nav nav ul>li.fwdt:hover .picbox::before{
    background-position: -47px -182px;
}



.site-head .main-nav .log-and-nav nav ul>li .wordbox{
    font-size:16px;
    margin-top:20px;
}

.site-head .main-nav .search{
    float:right;
    margin-top: 51px;
    
    
}
.site-head .main-nav .search input[type=text]{
    width:229px;
    height:37px;
    color:#545454;
    line-height: 18px;
    padding-left:15px;
    outline: none;
    border:1px solid #d3d3d3;
    float: left;
}
.site-head .main-nav .search .btn{
    width:48px;
    height:39px;
    background-color: #0058AA ;
    display: block;
    float: right;
    position: relative;
}
.site-head .main-nav .search .btn::before{
    width: 33px;
    height:33px;
    position: absolute;
    top:3px;
    left:7.5px;
    content: '';
    background: url(../images/icons.png) no-repeat -1px -226px ;
}


/* banner */
.banner{
    position:relative;
    overflow: hidden;
}
.banner .banner_list{
    width:400%;
    /* overflow:hidden; */
    overflow: hidden;
    transition: transform 0.5s ease 0s;
}
.banner .banner_list li{
    float:left;
    width:25%;
}
.banner .banner_list li img{
    width:100%;
    vertical-align: middle;
}
.banner .circles{
    width:48px;
    height:10px;
    position: absolute;
    bottom:50px;
    left:50%;
    margin-left: -24px;
}

.banner .circles li{
    float:left;
    width:10px;
    height:10px;
    background-color: #ffffff;
    margin-right: 6px;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
    cursor:pointer;
}
.banner .circles li:last-child(){
    margin-right: 0;
}
.banner .circles li.current{
    background-color: #0058AA;
}



/* 了解我们 */
/* 商品小轮播图 */
.carousel {
    background-color:#fff;
    width:1105px;
    margin: 0 auto;
    position: relative;
    
}
.carousel .carousel-center{
    overflow: hidden;
    width:1105px;
}

.carousel .carousel_list{
    width:2210px;
    position: relative;
    left:0;
    top:0;
    margin: 0 auto;
    margin-top: 38px;  
    transition: left .5s ease 0s;
    
}

.carousel .carousel_list li{
    box-sizing: border-box;
    float:left;
    padding:0 25px; 
    width:221px;
    
}
.carousel .carousel_list li a .picbox{
    /* 将放大效果限制在图片中 */
    width:171px;
    height:176px;
    overflow: hidden;
}

.carousel .carousel_list li a .picbox img{
    width:171px;
    height:176px;
    transition: transform 0.5s ease 0s;
}
 .carousel .carousel_list li a .picbox{
    margin-bottom: 10px;
    width:171px;
    height:176px;
    /* overflow: hidden; */
}

 .carousel .carousel_list li a .wordbox p{
    color:#838383;
    font-size:18px;
    line-height: 24px;
    
}
/* 商品轮播触碰放大效果 */
.carousel .carousel_list li:hover a .picbox img{
    transform: scale(1.1);
    
}
 .leftbtn{
    position: absolute;
    top:50%;
    left:-26px;
    margin-top:-24px;
    height:48px;
    width:48px;
    background: url(../images/icons2.png) no-repeat -16px -245px;
    
}
.leftbtn:hover{
    background-position:-16px -156px ;
}
.rightbtn{
    position: absolute;
    top:50%;
    right:-48px;
    margin-top:-24px;
    height:48px;
    width:48px;
    background: url(../images/icons2.png) no-repeat -16px -88px;
    
}
.rightbtn:hover{
    background-position:-16px -20px ;
}

/* about */

.ljwm{
    height:456px;
    background-color: #fff;
     
}
.ljwm .center-wrap{
    width:1105px;
}

.ljwm .about{
    font-size:32px;
    color:#696868;
    text-align: center;
    margin-top: 32px;
    
    height:456px;
    
    
}

.ljwm .about .about-body{
    
    height: 200px;
    border-top:2px solid #808080;
    position: relative;
    
}

.ljwm .about .about-body .small-about{
    width: 160px;
    background-color:#fff;
    position: absolute;
    top:-8px;
    left:50%;
    margin-left: -80px;
    
}

.ljwm .about .about-body .small-about span{
    font-size:18px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #0058AA;
    padding:0 9px 11px; 
}

.ljwm .about .about-body>ul{
    margin-top: 76px;
    
}

.ljwm .about .about-body .wordbox{
    width:238px;
    text-align: left;
    float:left;
    margin-right: 127px;
    
}
.ljwm .about .about-body .wordbox h3{
    font-size:25px;
    color:#0058AA;
    
}
.ljwm .about .about-body .wordbox h4{
    font-size:21px;
    color: #5A5A5A;
    line-height: 41px;
}
.ljwm .about .about-body .wordbox .line{
    width: 142px;
    height:4px;
    background-color: #0058AA;
}
.ljwm .about .about-body .wordbox p{
    font-size:16px;
    color:#7b7c7c;
    width:238px;
    padding: 20px 0 27px;
}
.ljwm .about .about-body .wordbox a{
    font-size:22px;
    line-height:38px ;
    background-color: #0058AA;
    padding:0 29px;
    color:#fff;
    display: inline-block;
    transition: all 0.75s ease 0s;
    box-sizing: border-box;
    border:2px solid #0058AA;
}

.ljwm .about .about-body .wordbox:hover a{
    background-color:#fff;
    color:#0058AA;
    border:2px solid #0058AA;
}


.ljwm .about .about-body .picbox{
    width:384px;
    height:256px;
    
    float:left;
    margin-right:99px ;
    
}

.ljwm .about .about-body .picbox img{
    width: 100%;
    height: 100%;
}

.ljwm .about .about-body .messagebox{
    box-sizing: border-box;
    
}
.ljwm .about .about-body .messagebox>ul>li{
    width:273px;
    height:61px;
    margin: 10px 0;
    background-color: #ccc;
    transition: background-color 0.25s linear 0s;
}

.ljwm .about .about-body .messagebox>ul>li:hover{
    background-color: #0058AA;
}

.ljwm .about .about-body .messagebox>ul>li a div{
    float:left;
    color:#fff;
}

.ljwm .about .about-body .messagebox>ul>li a div.iconbox{
    width:40px;
    height:34px;
    background: url(../images/icons.png) no-repeat ;
    margin: 13px 19px 13px 30px;
}

.ljwm .about .about-body .messagebox>ul>li:nth-child(1) a div.iconbox{
    background-position: -42px -443px;
}

.ljwm .about .about-body .messagebox>ul>li:nth-child(2) a div.iconbox{
    background-position: -41px -500px;
}


.ljwm .about .about-body .messagebox>ul>li:nth-child(3) a div.iconbox{
    background-position: -44px -394px;
}


.ljwm .about .about-body .messagebox>ul>li a div.m-wordbox {
    
    text-align: left;
    margin-top: 10px;
}


.ljwm .about .about-body .messagebox>ul>li a div.m-wordbox h5{
    font-size:22px;
}
.ljwm .about .about-body .messagebox>ul>li a div.m-wordbox h6{
    font-size:12px;
    line-height: 12px;
}





/* recommend */
.recommend{
    background-color:#EFF0F4;
    margin-top: 82px;
    height:590px;
}
.recommend .center-wrap{
    width: 1074px;
}

.con-head{
    text-align: center;
}
.con-head h2{
    font-size:32px;
    color: #696868;
    padding-top:70px;
}

.con-head span{
    font-size:18px;
    color: #9B9B9B;
}

.con-head .line{
    width:93px;
    height:3px;
    background-color: #0058AA;
    margin: 16px auto 41px;
}

.recommend .recommend_list{
    width:3339px;
    overflow: hidden;
    position: relative;
    left:0;
    top:0;
    transition: left 0.25s ease 0s;
}
.recommend .recommend_list li{
    float:left;
    padding:0 13px;
    
}

.recommend .recommend_list>li a{
    width:345px;
    height:326px;
    position: relative;
}
.recommend .recommend_list>li img{
    width:100%;
    height:100%;
}
.recommend .recommend_list>li a .info{
    position: absolute;
    bottom:5px;
    color:#fff;
    line-height: 45px;
    padding-left:20px;
    width:345px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
}
.recommend .recommend-center{
    position: relative;
    height:326px;
    width: 1113px;
    
}
.recommend .recommend-center .picbox{
    width: 1113px;
    overflow: hidden;
}
.recommend .recommend-center .recommend_rightbtn{
    right:-48px;
}


/* 新闻中心区 */
.news{
    background-color: #fff;
}
.news .center-wrap{
    width: 1155px;
}
.news .con-head .gray-line{
    position: relative;
    height: 2px;
    background-color: #9B9B9B;
    width:100%;
}
.news .con-head .gray-line .gray-line-center{
    height: 100%;
    width:155px;
    background-color: #fff;
    position: absolute;
    left:50%;
    margin-left: -78px;
}
.news .con-head .line{
    width:105px;
    margin: 16px auto 0px;
}
.news .news-list{
    box-sizing: border-box;
    margin-bottom: 50px;
}
.news .news-list li{
    float:left;
    width:557px;
    margin-top: 43px;
    margin-left: 20px;
}

.news .news-list li .icon-box{
    float:left;
    width:65px;
    height: 65px;
    background-image:url(../images/dialog.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    cursor: pointer;
    transform:  translateY(0px);
    transition: transform 1s ease 0s;
} 
.news .news-list li .icon-box:hover{
    transform: translateY(-20px);
   
}


.news .news-list li .icon-box span{
    font-size:40px;
    line-height: 65px;
    color:#fff
}

.news .news-list li .word-box{
    float:left;
    width:400px; 
    margin-left: 38px;
} 
.news .news-list li .word-box h3{
    text-align: left;
    font-size: 21px;
    line-height: 45px;
    color: #4A4A4A;
}
.news .news-list li .word-box p{
    font-size: 18px;
    color: #4A4A4A;
    text-align: left;
}
